*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #282c34;
}
.heroPage{
    height: 700px;
    filter: brightness(60%) ;
    background-image: url(./assets/images/netflix-bg.jpg);
    background-size: cover;
}
.navbar{
    margin-top: 15px;
    display: flex;
    display: inline-flex;
}
.logo{
    margin-left: 180px;
    height: 40px;
    width: 150px;
}
.dropdown {
    margin-left: 750px;
    position: relative;
    display: inline-block;
    background-color: transparent;
  }
/* Style for the dropdown button */
.dropbtn {
  background-color: transparent; /* Background color of the button */
  color: white; /* Text color of the button */
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 2px;
  height: 30px; /* Remove button border */
  cursor: pointer; /* Show a pointer cursor on hover */
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255);
    width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 76, 76);
  }

  a {
    text-decoration:wavy;
    text-align: center;
    color: white;
  }

  .signUpBtn{
    margin-left: 30px;
    background-color: red;
    color: white;
    height: 30px;
    padding-left:10px;
    padding-right: 10px;
    border: 1px solid red ;
    border-radius: 5px;
  }

.content{
    margin: 150px 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bigText{
    font-size: 48px;
    font-weight: bold;
    color: white;
    width: 960px;
    /* text-align: center; */
    line-height: 50px;
}
.normalText{
    color: white;
    font-size: 25px;
    text-align:inherit;
    padding-left: 50px;
}
.emailInput{
    width: 400px;
    color: white;
    padding-left: 10px;
    height: 60px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.499);
}
.emailInput::placeholder{
    color: white;
}
.getStartBtn{
    margin: 30px;
    height: 50px;
    font-size: 24px;
    padding: 5px 15px;
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 3px;
    cursor: pointer;
}


